.rodapie{
    background: #fdfdfd;
    display: flex;
    text-align: center;
    align-items: center;
    padding: 2rem;
}

@media screen and (min-width:0) {
    .rodapie{
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
}

@media screen and (min-width:768px) {
    .rodapie{
        justify-content: space-around;
        flex-direction: row;
    }
}


.rodapie__titulo {
    display: flex;
    color: #8c8c8c;
    font-weight: 400;
    font-size: 1.5rem;
    align-items: center;
}


.rodapie__descripcion{
    display: flex;
    font-size: 1.5rem;
    color: #8c8c8c;
    text-align: center;
}

.rodapie__lista{
    display: flex;
    list-style: none;
}


.rodapie__item {
    list-style: none;
}

.rodapie__icon {
    margin-right: 1.25rem;
}

@media screen and (min-width:0) {
    .rodapie__titulo{
        margin-left: 0rem;
    }
}

@media screen and (min-width:768px) {
    .rodapie__descripcion{
        margin-left: 5rem;
    }
}